#icon {
    display: none;
    color: #fff;
    font-size: 50;
}

@media(min-width: 200px) and (max-width: 575px) {
    #logo{
        width: 50px;
    }

    #icon {
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        transform: translate(-100%, 75%);
        width: 40px;
        cursor: pointer;
    }
    
    #nav {
        height: 70px;
    }
}

@media(min-width: 575.1px) and (max-width: 768px) {
    #logo{
        width: 50px;
    }

    #icon {
        display: block;
        position: absolute;
        top: -35px;
        right: 0;
        transform: translate(-100%, 75%);
        width: 40px;
        cursor: pointer;
    }

    #nav {
        height: 70px;
    }
}

@media(min-width: 768.1px) and (max-width: 991px) {
    #logo{
        width: 50px;
    }

    #icon {
        display: none;
    }
}

@media(min-width: 991.1px) {
    #logo{
        width: 60px;
    }

    #icon {
        display: none;
    }
}