#icon {
    display: none;
    color: #fff;
    font-size: 50;
}

@media(min-width:200px) and (max-width: 575px) {
    #logo{
        width: 10px;
    }

    #icon {
        display: block;
        position: absolute;
        top: -20px;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media(min-width: 576px) and (max-width:767px) {
    #logo{
        width: 30px;
    }

    #icon {
        display: block;
        position: absolute;
        top: -20px;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media(min-width: 768px) and (max-width:991) {
    #logo{
        width: 70px;
    }

    #icon {
        display: block;
        position: absolute;
        top: -20px;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media(min-width: 992px) {
    #logo{
        width: 80px;
    }

    #icon {
        display: none;
        position: absolute;
        top: -20px;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}